/*
 * harvester.css
 *
 * Description: Stylesheet zur Webseite
 * 
 * Website: Blog Harvester
 *          http://astroblog.spaceboyz.net/harvester/
 *          http://www.blog-harvester.de/
 * Layout:  3-spaltig links fest, mittig variabel, rechts fest
 *          Textfarben #303030 #C00000 #FF6600 6699CC
 * Browser: Firefox, Opera (webkit), Safari, IE7
 *          (<= IE6: no chart, little problems)
 * Author: Tigion, http://tigion.de/
 * Version: 18.02.2009
 */

/* ------------------------------------------------------ */
/* default */
/* ------------------------------------------------------ */

* {
  border: 0 none;
  margin: 0;
  padding: 0;
}

/* body & Meta */

body {
  font-size: 62.5%;
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
  color: #303030;
  background-color: #E0E0E0;
  text-align: left;
  /*min-width: 1024px;*/ /* TODO */
}

a {
  text-decoration: none;
  color: #C00000;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #FFA500;
}

h1 {
  background-color: #FFFFFF;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0.6em;
  padding: 0.3em;
}

/* ------------------------------------------------------ */
/* Layout */
/* ------------------------------------------------------ */

/* left ticker - Harvesting, ... */
.tickers1 {
  float: left;
  width: 20em;
  overflow: hidden;
  margin: 0 2em 0 0;
}

/* right ticker - Photos, Delicious*/
.tickers2 {
  float: right;
  width: 20em;
  overflow: hidden;
  margin: 0 0 0 2em;
}

/* right ticker - Microblogging */
.tickers3 {
  float: right;
  width: 20em;
  overflow: hidden;
  margin: 0 0 0 2em;
}

/* blog entries */
.hfeed {
  overflow: hidden;
  /*margin: 0 44em 0 22em;*/
  /*min-width: 20em;*/
  /*margin: 0 22em;*/
}

/* ------------------------------------------------------ */
/* blog entries */
/* ------------------------------------------------------ */

.entry {
  background-color: #fff;
  margin-bottom: 0.9em;
  font-size: 1.2em;
  overflow: hidden;
}

/* date - blog entry */
.entrydate {
  float: right;
  margin-top: -2em;
  padding-right: 1em;
  font-size: 0.8em;
  text-align: right;
  color: white;
}

/* text - blog entry */
.entrydesc {
  /*text-align: justify;*/
  font-size: 1.0em;
  line-height: 1.4em;
  padding: 0 0.8em;
}

/* link - blog entry */
.entryfoot {
  font-size: 0.8em;
  padding: 1em;
  text-align: right;
}

/* title / link - blog */
.entry h2.blog-title {
  font-size: 1.0em;
  padding: 0.5em 0.8em;
  background-color: #ff6600;
  color: white;
}

.entry h2.blog-title a {
  color: white;
}

/* title / link - blog entry */
.entry h3.entry-title {
  font-size: 1.3em;
  padding: 0.7em;
}

.entry h3.entry-title a {
  color: #303030;
}

/* ------------------------------------------------------ */
/* blog entry content (description) */
/* ------------------------------------------------------ */

.entry-content h2, .entry-content h3 {
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #303030;
}

.entry-content h2 {
  font-size: 1.2em;
  margin: 1.0em 0 0.8em 0;
}

.entry-content h3 {
  font-size: 1.0em;
  margin: 1.0em 0 0.8em 0;
}

.entry-content p {
  margin: 0 0 0.8em 0;
}

.entry-content ul, .entry-content ol  {
  margin: 0.8em 0 0.8em 1.8em;
}

.entry-content li {
  padding-bottom: 0.5em;
}

.entry-content pre, .entry-content code {
  background-color: #eee;
  color: #666;
  padding: 1em; 
  margin: 1em;
  border: 1px solid #ddd;
  display: block;
  overflow: auto;
  font: 0.9em "Andale Mono", "Courier New", Courier, Fixed, mono;
}

.entry-content pre {
  white-space: pre;
}

.entry-content code {
  white-space: nowrap;
}

.entry-content blockquote {
  margin: 1em;
  padding-left: 1em;
  border-left: 5px solid #e0e0e0;
  color: #666;
}

/* more dynamic images */
/* no IE6 */
html>body .entry img {
  height: auto !important;
  max-width: 100% !important;
  padding: 0.5em 0;
}

.entry .wp-caption {
  max-width: 100% !important;
}

/* ------------------------------------------------------ */
/* tickers (sidebars) */
/* ------------------------------------------------------ */

.ticker {
  background-color: white;
  margin: 0 0 1em 0;
  font-size: 0.9em;
}

.ticker h2 {
  font-size: 1.3em;
  padding: 0.5em 0.7em;
  color: white;
}

.tickers1 .ticker h2, .tickers2 .ticker h2 {
  background-color: #6699cc;
}

.tickers3 .ticker h2 {
  background-color: #888;
}

.ticker h2 a {
  color: white;
  text-decoration: none;
}

.ticker p {
  padding: 1.0em;
  font-style: italic;
  line-height: 1.4em;
}

.ticker p + p {
  padding-top: 0;
}


.ticker ul {
  padding: 1.0em;
}

.ticker ul li {
  list-style: none;
  line-height: 1.4em;
}

.ticker ul li + li { 
  padding: 0.3em 0 0 0;
}

/* microbloggin */
.tickers3 .ticker ul li { 
  overflow: hidden;
  font-style: italic;
}

.tickers3 .ticker ul li + li { 
  padding: 1em 0 0 0;
}

.tickers3 .ticker img.avatar {
  margin: 3px 5px 2px 0;
  height: 24px;
  width: 24px;
  float: left;
}


/* links */


.ticker .tickerlinks li a {
  color: #303030;
  text-decoration: none;
}

.ticker .tickerlinks li a:hover {
  text-decoration: underline;
}

/* list */
.ticker .tickerlist {
  list-style: none;
  padding: 0.5em 1.0em;
}

.ticker .tickerlist li {
  padding-bottom: 0.4em;
}

.ticker .tickerlist li a[href$=".bz2"] {
  display: block;
}

/* photos */
.ticker ul.photos { 
  padding: 1em;
  margin: 0;
  text-align: center;
}

.ticker ul.photos li { 
  list-style: none;
  margin: 0;
  padding: 0;
}

.ticker ul.photos li + li { 
  padding: 1em 0 0 0;
}

.ticker ul.photos li a img {
  border: 0;
  margin: 0 auto;
  width: 20em; /*max-height: 20em;*/
  max-width: 20em;
  border: 1px solid #e0e0e0;
}

/* ------------------------------------------------------ */
/* extras */
/* ------------------------------------------------------ */

/* chart */
.chart { 
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  right: 2px;
  margin-top: 10px;
  margin-right: 15px;
  padding: 10px;
  opacity: 0.85;
}

.head:hover .chart { 
  display: block;
}
