/*
 * harvester_lte_ie6.css
 *
 * Description: Anpassungen des Defaultstylesheets 'harvester.css'
                für IE6 und aelter Versionen
 * 
 */

/* ------------------------------------------------------ */
/* Blogeintraege */
/* ------------------------------------------------------ */

.entry {
  width: 100%;
  /*width: 98%;*/ /* dirty hack */
}

.entry-content pre,
.entry-content code {
  width: 90%; /* dirty hack */
  overflow: scroll;
}

.tickers3 .ticker ul li { 
  padding-bottom: 1em;
  width: 100%;
}
