/*
 * harvester.css
 *
 * Description: Stylesheet zur Webseite
 * 
 * Website: Blog Harvester
 *          http://astroblog.spaceboyz.net/harvester/
 *          http://www.blog-harvester.de/
 * Layout:  3-spaltig links fest, mittig variabel, rechts fest
 *          Textfarben #303030 #C00000 #FF6600 6699CC
 * Browser: IE6 (no chart), IE7, Firefox, Opera, Safari
 * Author: Tigion, http://tigion.de/
 * Version: 28.07.2008
 */

/* ------------------------------------------------------ */
/* default */
/* ------------------------------------------------------ */

* {
  border: 0 none;
  margin: 0;
  padding: 0;
}

/* body & Meta */

body {
  font-size: 62.5%;
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
  color: #303030;
  background-color: #E0E0E0;
  text-align: left;
}

a {
  text-decoration: none;
  color: #C00000;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #FFA500;
}

h1 {
  background-color: #FFFFFF;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0.6em;
  padding: 0.3em;
}

/* ------------------------------------------------------ */
/* Layout */
/* ------------------------------------------------------ */

/* left ticker */
.tickers1 {
  float: left;
  width: 20em;
  overflow: hidden;
}

/* photos */
ul.photos { 
  padding: 0;
  margin: 0;
  text-align: center;
}

ul.photos li { 
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.photos li a img {
  border: 0;
  margin: 0.5em auto;
  width: 85%;
}

/* blog entries */
.hfeed {
  margin: 0 22em;
}

/* right ticker */
.tickers2 {
  float: right;
  width: 20em;
  overflow: hidden;
}

/* ------------------------------------------------------ */
/* blog entries */
/* ------------------------------------------------------ */

.entry {
  background-color: #fff;
  margin-bottom: 0.9em;
  font-size: 1.2em;
  overflow: hidden;
}

/* date - blog entry */
.entrydate {
  float: right;
  margin-top: -2em;
  padding-right: 1em;
  font-size: 0.8em;
  text-align: right;
  color: white;
}

/* text - blog entry */
.entrydesc {
  text-align: justify;
  font-size: 1.0em;
  line-height: 1.4em;
  padding: 0 1.2em;
}

/* link - blog entry */
.entryfoot {
  font-size: 0.8em;
  padding: 1em;
  text-align: right;
}

/* title / link - blog */
.entry h2.blog-title {
  font-size: 1.0em;
  padding: 0.5em 1em;
  background-color: #ff6600;
  color: white;
}

.entry h2.blog-title a {
  color: white;
}

/* title / link - blog entry */
.entry h3.entry-title {
  font-size: 1.3em;
  padding: 1.0em 0.8em 0.4em;
}

.entry h3.entry-title a {
  color: #303030;
}

.entry ul  {
  margin: 1em 0 0 3em;
}

/* ------------------------------------------------------ */
/* blog entry content (description) */
/* ------------------------------------------------------ */

.entry-content h2, .entry-content h3 {
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #303030;
}

.entry-content h2 {
  font-size: 1.2em;
  margin: 1.0em 0 0.8em 0;
}

.entry-content h3 {
  font-size: 1.0em;
  margin: 1.0em 0 0.8em 0;
}

.entry-content p {
  margin: 0.8em 0;
}

.entry-content ul, .entry-content ol  {
  margin: 0.8em 0 0.8em 1.8em;
}

.entry-content pre, .entry-content code {
  background-color: #eee;
  color: #666;
  padding: 1em; 
  margin: 1em;
  border: 1px solid #ddd;
  display: block;
  overflow: auto;
  font: 0.9em "Andale Mono", "Courier New", Courier, Fixed, mono;
}

.entry-content pre {
  white-space: pre;
}

.entry-content code {
  white-space: nowrap;
}

.entry-content blockquote {
  margin: 1em;
  padding-left: 1em;
  border-left: 5px solid #e0e0e0;
  color: #666;
}

/* ------------------------------------------------------ */
/* sidebars */
/* ------------------------------------------------------ */

.ticker {
  background-color: white;
  margin: 0 0 1em;
  font-size: 0.9em;
}

.ticker h2 {
  font-size: 1.3em;
  padding: 0.5em 1em;
  background-color: #6699cc;
  color: white;
}

.ticker h2 a {
  color: white;
  text-decoration: none;
}

.tickerlinks {
  padding: 0.5em;
}

.tickerlinks li {
  list-style: none;
  padding: 0.1em 0.8em;
}

.tickerlinks li a {
  color: #303030;
  text-decoration: none;
}

.tickerlinks li a:hover {
  text-decoration: underline;
}

.ticker p {
  padding: 1.0em;
  font-style: italic;
}

.ticker p + p {
  padding-top: 0;
}

.tickerlist {
  list-style: none;
  padding: 0.5em 1.0em;
}

.tickerlist li {
  padding-bottom: 0.4em;
}

.tickerlist li a[href$=".bz2"] {
  display: block;
}

/* ------------------------------------------------------ */
/* extras */
/* ------------------------------------------------------ */

/* chart */
.chart { 
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  right: 2px;
  margin-top: 10px;
  margin-right: 15px;
  padding: 10px;
  opacity: 0.85;
}

.head:hover .chart { 
  display: block;
}