/* Meta ------------------------------------- */
body {
	font-size: small;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	color: #303030;
	background-color: #E0E0E0;
	margin: 0px;
	padding: 0px;
}
a:link, a:visited {
	text-decoration: none;
	color: #C00000;
}
a:hover {
	text-decoration: underline;
	color: #C00000;
}
a:active {
	text-decoration: none;
	color: #FFA500;
}
h1 {
	/* border: 1px solid #afafaf; */
	background-color: #FFFFFF;
	color: #303030;
	font-weight: bold;
	font-size: xx-large;
	text-align: center;
	margin: 10px 15px 0px 15px;
	padding: 10px;
}
/* Blogeintraege ------------------------------------- */
.entry {
	/* border: 1px solid #afafaf; */
	background-color: white;
	margin: 15px 19em 10px 19em;
	text-align: left;
}
.entry h2 {
	font-size: small;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
	padding: 5px 10px 5px 10px;
	/* background-color: #ff6600; */
	background-color: #ff6600;
	color: white;
}
.entry h2 a {
	color: white;
}
.entry h3 a {
	color: #303030;
}
.entrydate {
	font-size: x-small;
	padding: 0 10px 10px 10px;
	margin: -30px 0 0 0;
	text-align: right;
	color: white;
}
.entry h3 {
	padding: 0px;
	margin: 0px;
	font-size: medium;
	font-weight: bold;
	padding: 10px 10px 0px 10px;
}
.entrydesc {
	text-align: justify;
	font-size: x-small;
	padding: 10px 10px 10px 10px;
	margin: 0px;
}
.entryfoot {
	font-size: xx-small;
	padding: 0 10px 10px 10px;
	text-align: right;
}
/* Seitenleisten ------------------------------------- */
.tickers1 {
	float: left;
	width: 18em;
	padding: 0px;
	margin: 5px;
}
.tickers2 {
	float: right;
	width: 18em;
	padding: 0px;
	margin: 5px;
}
.ticker {
	background-color: white;
	margin: 10px 10px 10px 10px;
	padding: 0px;
	text-align: left;
	width: 16em;
	vertical-align: top;
}
.ticker h2 {
	font-size: small;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	margin: 0px;
	/* background-color: #ff6600; */
	background-color: #6699cc;
	color: white;
}
.ticker h2 a {
	color: white;
	text-decoration: none;
}
.tickerlinks {
	text-align: left;
	padding: 5px 0px 5px 0px;
	margin: 0px;
}
.tickerlinks li {
	font-size: xx-small;
	text-align: left;
	list-style: none;
	padding: 1px 10px 1px 10px;
}
.tickerlinks li a {
	color: #303030;
	text-decoration: none;
}
.tickerlinks li a:hover {
	text-decoration: underline;
}
.ticker p {
	font-size: xx-small;
	padding: 5px 10px 5px 10px;
	margin: 0px;
	text-align: left;
	font-style: italic;
}
.tickerlist {
	list-style: none;
	font-size: xx-small;
	padding: 5px 0px 5px 5px;
	margin: 0px;
}
.tickerlist li {
	padding: 1px 0px 1px 5px;
	margin: 0px;
}


.chart { 
        display: none;
        position: absolute;
        z-index: 1;
        background-color: white;
        right: 2px;
        margin-top: 15px;
        margin-right: 16px;
	padding: 10px;
        opacity: 0.85;
}
.head:hover .chart { 
        display: block;
}